<% if @user %>
  <div class="center-this-div">
    <%#= image_tag @user.image, width:100 %>
    <% if @user.id == current_user.id %>
      <%= link_to edit_user_registration_path do %>
        <button class="btn btn-info ml-4">Edit Profile</button>
      <% end %>
    <% end %>
    <h3> <%= @user.name%> </h3>
    <p> <%= @user.email%> </p>

    <% unless @user.id == current_user.id %>
      <div id="follow-btn">
        <%= render 'follow' %>
      </div>
    <% end %>
  </div>
  <hr class="user-homepage">
  <div class="posts-homepage">
    <h1>All Posts </h1>
    <%= render @user.posts %>
  </div>
  <hr class="user-homepage">
  <div class="posts-homepage">
    <h1>All Stories </h1>
    <%= render @user.stories %>
  </div>
<% end %>
