<% if policy(post).show? %>
  <div class="post">
    <div class="user-name">
      <p>By: </p> <a href = "<%= user_path(post.user) %>"> <%= post.user.name %> </a>
      <% if policy(post).destroy? %>
        <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: "Are you sure? \nYou want to delete this post?" }, class: "delete-post btn btn-danger mt-2" %>
      <% end %>
    </div>

    <div>
      <div>
        <p>Photos: </p><br>
        <% post.photos.each do |photo| %>
          <%= image_tag photo.image.url(:standard), class: "photo" %>
        <% end %>
      </div>
      <p>Caption: </p><%= post.caption %>
    </div>

    <div class = "like-button" id = "like-button-<%= post.id.to_s %>">
      <% if post.liked_user(current_user).present? %>
        <%= link_to "Liked", like_path(post.liked_user(current_user)), method: :delete, remote: true, class: "btn btn-success" %>
      <% else %>
        <%= link_to "Like", post_likes_path(post), method: :post, remote: true, class: "btn btn-outline-success" %>
      <% end %>
    </div>

    <div class="comment-box">
      <div class="comment-form" id="comment-form-<%= post.id.to_s %>">
        <%= render 'comments/comment_box', {post: post} %>
      </div>

      <div id="comment-post-<%= post.id.to_s %>">
        <%= render 'comments/all_comments', {comments: post.comments.includes(:user, :post)} %>
      </div>
    </div>

    <div>
      <%= link_to 'View Post', post_path(post), class: "view-post btn btn-info" %>
      <% if policy(post).edit? %>
        <%= link_to 'Edit Post', edit_post_path(post), class: "edit-post btn btn-dark" %>
      <% end %>
    </div>
  </div>
<% end %>
