<div class = "create-post">
  <h4>Create Post</h4>
  <div>
    <%= form_for @post, :html => {:multipart => true} do |f| %>
      <%= f.text_field :caption, class: "form-control", placeholder: "What's on your mind?" %><br>
      <%= file_field_tag "images[]", class: "form-control", type: :file, multiple: true %><br>
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="posts-homepage">
  <h1>All Post</h1>
  <% @posts.each do |post| %>
    <div class="post">
      <% post.photos.each do |photo| %>
        <%= image_tag photo.image.url(:standard) %>
      <% end %><br>
      <p><%= post.caption %></p>
    </div>
  <% end %>
</div>
