<nav class="navbar navbar-expand navbar-light">
  <%= link_to "Instagram-clone", root_path, class: "navbar-brand" %>

  <div class="navbar-collapse">
    <%= form_tag users_path, method: :get, class: "ml-md-auto", id: "users-search-bar", remote: true do %>
      <%= text_field_tag :term, params[:term], class: "form-control text-center", placeholder: "Search User", autocomplete: "off" %>
      <div id="users-search-result"></div>
    <% end %>

    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Story", stories_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
    </ul>
  </div>
</nav>
